@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tungsten";
  src: url("../../fonts/tungsten/tungsten.eot");
  src:
    url("../../fonts/tungsten/tungsten.woff2") format("woff2"),
    url("../../fonts/tungsten/tungsten.woff") format("woff"),
    url("../../fonts/tungsten/tungsten.ttf") format("truetype");
}

.hover-area {
  @apply z-50 cursor-pointer;
}

.hover-area:hover ~ .hover-image {
  @apply scale-125;
}

.hover-area:hover ~ .hover-text {
  @apply scale-[85%];
}

.bg-radial {
  @apply relative before:absolute before:bottom-[-10%] before:left-[-15%] before:top-[-5%] before:z-[1] before:w-[125%] before:bg-primary-red;
}

.bg-radial::before {
  mask-image: radial-gradient(ellipse, rgba(0, 0, 0, 0.45), transparent 60%);
}
